/* Encabezado de la página */
header {
  display: flex; /* Utiliza un contenedor flexible */
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: center; /* Alinea los elementos en el centro */
  justify-content: space-between; /* Distribuye el espacio uniformemente */
  padding: 20px; /* Añade un relleno de 20px alrededor */
  font-family: 'Cross Boxed', sans-serif;
}

@media (min-width: 768px) {
  header {
    flex-direction: row; /* Coloca los elementos en una fila */
  }
}

/* Imagen del encabezado */
header img {
  max-width: 150px; /* Limita el ancho máximo a 150px */
  margin-right: 20px; /* Añade un margen derecho de 20px */
}

/* Título del encabezado */
header h1 {
  font-size: 2.5em; /* Tamaño de fuente grande */
  margin: 0; /* Sin margen */
  font-family: 'Cross Boxed', sans-serif;
}

/* Estilo para la barra de búsqueda */
#buscador {
  padding: 8px 12px; /* Relleno interno */
  border: 2px solid #ccc; /* Borde sólido gris */
  border-radius: 20px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño del texto */
  width: 100%; /* Ancho completo */
  max-width: 300px; /* Ancho máximo de 300px */
  outline: none; /* Sin contorno al enfocarse */
}

/* Cuerpo de la página */
body {
  font-family: 'Open Sans', sans-serif; /* Tipografía */
  background-color: #f5f5f5; /* Color de fondo */
  background-image: url("images/fondo.jpg"); /* Imagen de fondo */
  background-repeat: no-repeat; /* No repetir la imagen de fondo */
  background-size: cover; /* Ajustar la imagen al contenedor */
  font-family: 'Cross Boxed', sans-serif;
}

h1, h3 {
  text-align: center; /* Texto centrado */
  font-size: 2.5em; /* Tamaño de fuente grande */
  color: #fff; /* Color de texto blanco */
  font-family: 'Cross Boxed', sans-serif;
}

/* Contenedor de la lista de productos */
#listaProductos {
  display: flex; /* Utiliza un contenedor flexible */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  justify-content: space-between; /* Distribuye el espacio uniformemente */
  font-family: 'Cross Boxed', sans-serif;
}

/* Contenedor de cada producto */
#listaProductos li {
  width: 100%; /* Ancho completo */
  padding: 15px; /* Relleno interno */
  margin-bottom: 20px; /* Margen inferior */
  border: 1px solid #ddd; /* Borde sólido gris claro */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #fff; /* Fondo blanco */
  box-sizing: border-box; /* Incluye el relleno y el borde en el tamaño total */
}

@media (min-width: 768px) {
  #listaProductos li {
    width: 48%; /* Ancho del 48% */
  }
}

/* Estilos para la imagen de los productos */
#listaProductos li img {
  max-width: 100%; /* Ancho máximo del 100% */
  height: auto; /* Altura automática para mantener la proporción */
  display: block; /* Muestra la imagen como un bloque */
  margin-bottom: 10px; /* Margen inferior */
}

/* Listas de productos y carrito */
#listaProductos,
#listaCarrito {
  list-style-type: none; /* Sin viñetas */
  padding: 0; /* Sin relleno */
  margin: 0; /* Sin margen */
}

/* Elementos de las listas de productos y carrito */
#listaProductos li,
#listaCarrito li {
  display: flex; /* Utiliza un contenedor flexible */
  justify-content: space-between; /* Distribuye el espacio uniformemente */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  padding: 15px; /* Relleno interno */
  margin-bottom: 10px; /* Margen inferior */
  border: 1px solid #ddd; /* Borde sólido gris claro */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #fff; /* Fondo blanco */
}

/* Títulos de los elementos de las listas */
#listaProductos li h3,
#listaCarrito li h3 {
  margin: 0; /* Sin margen */
  font-size: 1.2em; /* Tamaño de fuente */
}

/* Estilos para el nombre del producto */
#listaProductos li h3 {
  margin: 0; /* Sin margen */
  font-size: 1.2em; /* Tamaño de fuente */
  color: #333; /* Color del texto */
}

/* Descripción de los elementos de las listas */
#listaProductos li p,
#listaCarrito li p {
  margin: 0; /* Sin margen */
  font-size: 0.9em; /* Tamaño de fuente */
  color: #666; /* Color del texto */
}

/* Estilos para el precio de los productos */
#listaProductos li p {
  margin: 5px 0; /* Margen superior e inferior */
  font-size: 1em; /* Tamaño de fuente */
  color: #666; /* Color del texto */
}

/* Botón "Agregar al carrito" */
#listaProductos li button {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  margin-right: 20px; /* Margen derecho */
}

/* Botón "Eliminar del carrito" */
#listaCarrito li button {
  margin-left: 10px; /* Margen izquierdo */
  padding: 8px 15px; /* Relleno interno */
  background-color: #f00; /* Color de fondo rojo */
  color: #fff; /* Color del texto blanco */
  border: none; /* Sin borde */
  border-radius: 3px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

/* Efecto hover para el botón "Agregar al carrito" */
#listaProductos li button:hover {
  background-color: #45a049; /* Color de fondo más oscuro */
}

/* Total del carrito */
#totalCarrito {
  font-weight: bold; /* Texto en negrita */
  font-size: 1.1em; /* Tamaño de fuente */
  margin-top: 20px; /* Margen superior */
  font-family: 'Cross Boxed', sans-serif;
}

/* Botones vaciar, comprar, continuar y cancelar compra */
#btnVaciarCarrito,
#btnComprar,
#btnContinuarCompra,
#btnCancelarCompra {
  padding: 12px 25px; /* Relleno interno */
  background-color: #007bff; /* Color de fondo azul */
  color: #fff; /* Color del texto blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  margin-right: 10px; /* Margen derecho */
  font-family: 'Cross Boxed', sans-serif;
}

/* Estilos para los botones de filtro */
#filtros button {
  padding: 10px 20px; /* Relleno interno */
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  margin: 5px; /* Margen alrededor */
  font-family: 'Cross Boxed', sans-serif;
}

#filtros button:hover {
  background-color: #0056b3; /* Color de fondo más oscuro */
}

/* Estilos para el formulario de compra */
#modalCompra,
#modalTotal {
  position: fixed; /* Posición fija */
  top: 50%; /* A mitad de la pantalla */
  left: 50%; /* A mitad de la pantalla */
  transform: translate(-50%, -50%); /* Centrar */
  background-color: white; /* Fondo blanco */
  padding: 30px; /* Relleno interno */
  border: 1px solid #ccc; /* Borde sólido gris claro */
  z-index: 100; /* Capa superior */
  display: none; /* Oculto por defecto */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra */
}

#modalCompra h2,
#modalTotal h2 {
  text-align: center; /* Texto centrado */
  margin-bottom: 20px; /* Margen inferior */
  font-size: 1.5em; /* Tamaño de fuente */
}

/* Contenedor del formulario */
#formularioCompra {
  background-color: #fff; /* Fondo blanco */
  padding: 20px; /* Relleno interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  display: flex; /* Utiliza un contenedor flexible */
  flex-direction: column; /* Coloca los elementos en una columna */
}

/* Etiquetas del formulario */
#formularioCompra label {
  font-family: Arial, sans-serif; /* Tipografía */
  font-size: 14px; /* Tamaño de fuente */
  color: whitesmoke; /* Color del texto */
  margin-bottom: 10px; /* Margen inferior */
  text-align: left; /* Texto alineado a la izquierda */
  font-family: 'Cross Boxed', sans-serif;
}

/* Campos del formulario */
#formularioCompra input,
#formularioCompra textarea {
  width: 100%; /* Ancho completo */
  font-size: 14px; /* Tamaño de fuente */
  border: 1px solid #ccc; /* Borde sólido gris claro */
  padding: 10px; /* Relleno interno */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #f8f8f8; /* Fondo gris claro */
}

/* Área de texto del formulario */
#formularioCompra textarea {
  min-height: 100px; /* Altura mínima */
}

/* Botón de envío del formulario */
#formularioCompra button {
  padding: 12px 20px; /* Relleno interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  color: white; /* Color del texto blanco */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

#formularioCompra {
  background-color: black; /* Color de fondo más oscuro */
}

#btnConfirmarCompra {
  background-color: blue;
  margin-top: 20px; /* Ajusta este valor para cambiar la distancia hacia abajo */
}

#btnConfirmarCompra:hover {
  margin-top: 10px;
  background-color: green;
}

#btnCerrarCompra {
  margin-top: 10px;
  background-color: blue;
}
#btnCerrarCompra:hover {
  background-color: red;
}
#formularioCompra input[type="tel"] {
  margin-bottom: 20px; /* Puedes ajustar este valor según sea necesario */
}
/* Efecto hover del botón de envío del formulario */
#formularioCompra button:hover {
  background-color: #3e8e41; /* Color de fondo más oscuro */
}

/* Efecto hover del botón de envío del formulario */
#formularioCompra button:hover {
  background-color: #3e8e41; /* Color de fondo más oscuro */
}

/* Estilos para el modal de mensaje */
#modalMensaje {
  color: black; /* Color del texto negro */
  position: fixed; /* Posición fija */
  top: 50%; /* A mitad de la pantalla */
  left: 50%; /* A mitad de la pantalla */
  transform: translate(-50%, -50%); /* Centrar */
  background-color: white; /* Fondo blanco */
  padding: 30px; /* Relleno interno */
  border: 1px solid #ccc; /* Borde sólido gris claro */
  z-index: 100; /* Capa superior */
  display: none; /* Oculto por defecto */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra */
  font-family: 'Cross Boxed', sans-serif;
}

/* Título del modal de mensaje */
#modalMensaje p {
  margin-bottom: 20px; /* Margen inferior */
  font-size: 1em; /* Tamaño de fuente */
}

/* Botón del modal de mensaje */
#modalMensaje button {
  padding: 10px 20px; /* Relleno interno */
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Efecto hover del botón del modal de mensaje */
#modalMensaje button:hover {
  background-color: #3e8e41; /* Color de fondo más oscuro */
}

/* Estilos para el pie de página */
footer {
  background-color: #333; /* Color de fondo oscuro */
  color: #fff; /* Color del texto blanco */
  padding: 50px 0; /* Relleno interno */
  font-family: 'Open Sans', sans-serif; /* Tipografía */
  font-family: 'Cross Boxed', sans-serif;
}

/* Contenedor principal del pie de página */
.footer-top {
  display: flex; /* Utiliza un contenedor flexible */
  justify-content: space-between; /* Distribuye el espacio uniformemente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
}

/* Columna del pie de página */
.footer-column {
  flex: 1; /* Flex de 1 */
  margin-right: 20px; /* Margen derecho */
}

/* Eliminar margen derecho de la última columna */
.footer-column:last-child {
  margin-right: 0; /* Sin margen derecho */
}

/* Título de la columna */
.footer-column h3 {
  margin-bottom: 20px; /* Margen inferior */
}

/* Párrafo dentro de la columna */
.footer-column p {
  margin-bottom: 10px; /* Margen inferior */
}

/* Lista dentro de la columna */
.footer-column ul {
  list-style-type: none; /* Sin viñetas */
  padding: 0; /* Sin relleno */
  margin: 0; /* Sin margen */
}

/* Elementos de la lista dentro de la columna */
.footer-column ul li {
  margin-bottom: 5px; /* Margen inferior */
}

/* Enlaces dentro de la lista */
.footer-column ul li a {
  color: #fff; /* Color del texto blanco */
  text-decoration: none; /* Sin subrayado */
}

/* Efecto hover de los enlaces dentro de la lista */
.footer-column ul li a:hover {
  text-decoration: underline; /* Subrayado */
}

/* Iconos sociales */
.social-icons {
  list-style-type: none; /* Sin viñetas */
  padding: 0; /* Sin relleno */
  margin: 0; /* Sin margen */
}

/* Elementos de los iconos sociales */
.social-icons li {
  display: inline-block; /* Muestra en línea */
  margin-right: 10px; /* Margen derecho */
}

/* Eliminar margen derecho del último icono */
.social-icons li:last-child {
  margin-right: 0; /* Sin margen derecho */
}

/* Estilo de los enlaces de los iconos sociales */
.social-icons li a {
  color: #fff; /* Color del texto blanco */
  text-decoration: none; /* Sin subrayado */
  font-size: 20px; /* Tamaño de fuente */
}

/* Efecto hover de los enlaces de los iconos sociales */
.social-icons li a:hover {
  color: #ddd; /* Color más claro */
}

/* Estilos para las imágenes de las redes sociales */
.social-icons img {
  width: 100px; /* Ancho de la imagen */
  height: auto; /* Altura automática */
  margin-right: 10px; /* Margen derecho */
}

/* Parte inferior del pie de página */
.footer-bottom {
  background-color: #222; /* Color de fondo oscuro */
  padding: 10px 0; /* Relleno interno */
  text-align: center; /* Texto centrado */
}

/* Ajustes responsivos para tablets */
@media (max-width: 768px) {
  header {
    flex-direction: column; /* Coloca los elementos en una columna */
  }

  #listaProductos li {
    width: 100%; /* Ancho completo */
  }

  .footer-column {
    margin-right: 0; /* Sin margen derecho */
    margin-bottom: 20px; /* Margen inferior */
  }

  .footer-top {
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Alinea los elementos al centro */
  }

  #formularioCompra {
    padding: 10px; /* Relleno interno */
  }

  #formularioCompra input,
  #formularioCompra textarea {
    font-size: 12px; /* Tamaño de fuente más pequeño */
  }
}

/* Ajustes responsivos para móviles */
@media (max-width: 480px) {
  header h1 {
    font-size: 2em; /* Tamaño de fuente más pequeño */
  }

  #buscador {
    width: 100%; /* Ancho completo */
  }

  #listaProductos li {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Relleno interno */
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Alinea los elementos al centro */
  }

  #listaProductos li img {
    margin-bottom: 10px; /* Margen inferior */
  }

  #listaProductos li h3 {
    margin-bottom: 10px; /* Margen inferior */
  }

  #listaProductos li p {
    margin-bottom: 10px; /* Margen inferior */
  }

  #listaProductos li button {
    width: 100%; /* Ancho completo */
    margin-right: 0; /* Sin margen derecho */
  }

  .footer-column h3 {
    font-size: 1.2em; /* Tamaño de fuente más pequeño */
  }

  .footer-column p,
  .footer-column ul li {
    font-size: 0.9em; /* Tamaño de fuente más pequeño */
  }

  .social-icons img {
    width: 50px; /* Ancho de la imagen más pequeño */
  }
}
